@import "../../styles/main.scss";
@import "../../styles/theme";

.banner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(to right, #fcfcff, #ebe9fe);
  padding: 40px 60px;
  flex-wrap: nowrap;

  .banner-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    padding-left: 20px;
    max-width: 55%;

    .premium {
      background-image: linear-gradient(to bottom right, $primary, $secondary);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      font-weight: 600;
      letter-spacing: 2px;
      font-size: 14px;
    }

    .heading-wrapper {
      max-width: 700px;

      span {
        color: #262c40;
        font-size: 60px;
        font-weight: 600;
        line-height: 1.1;

        .true-value {
          background-image: linear-gradient(to bottom right, $secondary, #b14de6);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          -webkit-text-fill-color: transparent;
          margin-left: 6px;
        }
      }
    }

    p {
      color: #56648f;
      font-size: 18px;
      max-width: 520px;
    }

    .custom-outline-button {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 10px 20px;
      color: white;
      font-size: 16px;
      font-weight: 500;
      background-color: transparent;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      background: linear-gradient(to right, $secondary, #af4de7);
    }
  }

  .banner-image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60%;
  
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  // Responsive Styles
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;

    .banner-left {
      max-width: 100%;
      align-items: center;
      padding-left: 0;

      .heading-wrapper {
        span {
          font-size: 36px;
        }
      }

      p {
        font-size: 16px;
        max-width: 90%;
      }

      .custom-outline-button {
        margin-top: 20px;
      }
    }

    .banner-image {
      width: 100%;
      padding: 20px 0;

      img {
        width: 100%;
        max-width: 400px;
      }
    }
  }
}
